python-binance==1.0.22
pymongo[srv]==4.3.3
pandas==2.2.1
numpy==1.26.4
pyyaml>=6.0.1
python-dateutil==2.8.2
websocket-client==1.6.4
urllib3==2.0.7
dnspython>=2.4.0
certifi>=2024.2.2
requests>=2.31.0
fake-useragent==1.4.0
pyOpenSSL>=24.0.0
plotly>=5.18.0
pydantic-settings>=2.0.0
ta==0.10.2
#tensorflow==2.17.1
scikit-learn==1.0.2
lightgbm==4.1.0
uvicorn
fastapi==0.115.5